// Colors

$btn-default: #51ddfc;
$btn-error: #e4757a;
$btn-info: #927bc1;
$btn-success: #63cc82;
$btn-warning: #fd7856;

$white: #fff;

$color-primary: #58e1c1;
$color-secondary: #777;

// Breakpoint

$medium: 768px;

// Font stacks

$stack-lato: "Lato", sans-serif;
